<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/account.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
    <link rel="icon" href="/static/images/favicon.png">
    <title> Личный кабинет типа на дроме </title>
</head>
<body>
<div class="menu">
    <ul>
        <li style="height: 50px; padding: 0; margin: 0;background-color: black;">
            <a href="{{ url_for("index") }}" style="padding: 0; margin: 0;">
                <img src="/static/images/logo.png" style="padding: 0; margin: 0; height: 48px;">
            </a>
        </li>

        {% if not user_id %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("login") }}>Авторизироваться</a>
            </li>
        {% else %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("logout") }}>Выйти</a>
            </li>
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("account") }}>Личный кабинет</a>
            </li>

        {% endif %}
        <li style="float: right;"><a href={{ url_for("new_selling") }}><b>&#10753;</b> Подать объявление</a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="content-container">
        <form class="form_from_manya">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" value={{ login }} readonly></br>
            <label for="name">ФИО:</label>
            <input type="text" id="name" name="name" value="{{ fio }}" readonly></br>
            <label for="phone">Номер телефона:</label>
            <input type="text" id="phone" name="phone" value="{{ phone }}" readonly></br>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ email }}" readonly></br>

            <label for="city">Город:</label>
            <select id="city" name="city" style="width: 101%;" disabled>
                <option value="" disabled>Выберите город</option>
                {% for iter, row in iterrows(cities) %}
                    <option value="{{ row['CityName'] }}" {% if row['CityName'] == town %} selected {% endif %} >
                        {{ row['CityName'] }}
                    </option>
                {% endfor %}
            </select>

            <button id="changedBtn" style="display: block;" type="button" onclick="edit_user_info()">Редактировать
                данные
            </button>
            <button type="submit" id="submitBtn" style="display: none;" name='update_account_info' value="update">
                Сохранить изменения
            </button>
        </form>

        <script>
            function edit_user_info() {
                document.getElementById("login").readOnly = false;
                document.getElementById("name").readOnly = false;
                document.getElementById("phone").readOnly = false;
                document.getElementById("email").readOnly = false;
                document.getElementById("city").readOnly = false;

                document.getElementById("changedBtn").style.display = "none";
                document.getElementById("submitBtn").style.display = "block";

                document.getElementById("login").style.border = '1px double black';
                document.getElementById("name").style.border = '1px double black';
                document.getElementById("phone").style.border = '1px double black';
                document.getElementById("email").style.border = '1px double black';
                document.getElementById("city").style.border = '1px double black';
                document.getElementById("city").removeAttribute("disabled");
            }
        </script>

        <h2 class="h2">Сменить пароль</h2>
        <form class="form_from_manya">
            <label for="old_password">Старый пароль:</label>
            <input type="password" id="old_password" name="old_password" required><br>
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password" required><br>
            <button id="update_pwd" style="display: block;" type="submit" name='update_pwd'>Сменить пароль</button>
        </form>


        <h2 class="h2">Список избранных объявлений</h2>
        <div class="content-container">
            {% for iter, row in iterrows(df_favourite_selling) %}
                <div class="selling">
                    {# Таблица как контейнер, в ней еще 3 таблицы - код некрасивый, ну и ладно,
                поставленную задачу решает) #}
                    <table style="table-layout: fixed;">
                        <tr>
                            <td colspan=2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h2 style="margin-top: 0;{% if not row['Actuality'] %}text-decoration: line-through;{% endif %}">
                                                    <form>
                                                        {{ row['BrandName'] + ' ' + row['ModelName'] + ', ' + str(int(row['ReleaseDate'])) }}
                                                        <input type="hidden" name="favourites"
                                                               value={{ int(round(row['IDSelling'])) }}>
                                                        <input type="submit" style="color: #db001a" class="star"
                                                               value="★">
                                                        <span style="float: right; margin-top: 0;">{{ str(int(row['Price'])) + ' ₽' }}</span>
                                                    </form>
                                            </h2>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Двигатель</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['IDEngine'] + ', ' + row['FuelType'] + ', ' + str(row['Capacity']) + ' л' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Мощность</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ str(int(row['HP'])) + ' л.с.' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Коробка передач</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['TransmissionType'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Привод</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['DriveType'] }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="color: gray;">VIN / Номер кузова:</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['BodyOrVinNumber'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Гос. номер</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['StateNumber'] }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td rowspan=0
                                            style="vertical-align: top; width: 50%; padding-right: 0; padding-left: 50px;">
                                            <p style="margin-top: 0; text-align: left; white-space: pre-wrap;"><span
                                                    style="color: gray;">Дополнительно: </span>{{ row['Description'] }}
                                            </p>
                                            <p><span style="color: gray;">Город: </span>{{ row['CityName'] }}</p>
                                            <p style="color: gray;">Объявление {{ int(row['IDSelling']) }}
                                                от {{ row['AdditionDate'] }}</p>
                                            {% if not row['Actuality'] %}
                                                <h3 style="margin-bottom: 5px;">Автомобиль снят с продажи</h3>
                                                <p>Контактные данные закрыты</p>
                                            {% elif not user_id %}
                                                <p style="color: gray; margin-top: 19px;">Контактный номер
                                                    недоступен для неавторизованных пользователей</p>
                                                <a href={{ url_for('login') }}>Авторизоваться</a>
                                            {% else %}
                                                <p style="margin-top: 19px;"><span
                                                        style="color: gray;">Контактный номер: </span>{{ row['PhoneNumber'] }}
                                                </p>
                                            {% endif %}

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>


        <h2 class="h2">Опубликованные объявления</h2>
        <div class="content-container">
            {% for iter, row in iterrows(df_selling) %}
                <div class="selling">
                    {# Таблица как контейнер, в ней еще 3 таблицы - код некрасивый, ну и ладно,
                поставленную задачу решает) #}
                    <table style="table-layout: fixed;">
                        <tr>
                            <td colspan=2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h2 style="margin-top: 0;{% if not row['Actuality'] %}text-decoration: line-through;{% endif %}">
                                                {{ row['BrandName'] + ' ' + row['ModelName'] + ', ' + str(int(row['ReleaseDate'])) }}
                                                <span style="float: right; margin-top: 0;">{{ str(int(row['Price'])) + ' ₽' }}</span>
                                            </h2>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Двигатель</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['IDEngine'] + ', ' + row['FuelType'] + ', ' + str(row['Capacity']) + ' л' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Мощность</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ str(int(row['HP'])) + ' л.с.' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Коробка передач</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['TransmissionType'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Привод</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['DriveType'] }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="color: gray;">VIN / Номер кузова:</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['BodyOrVinNumber'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Гос. номер</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['StateNumber'] }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td rowspan=0
                                            style="vertical-align: top; width: 50%; padding-right: 0; padding-left: 50px;">
                                            <p style="margin-top: 0; text-align: left; white-space: pre-wrap;"><span
                                                    style="color: gray;">Дополнительно: </span>{{ row['Description'] }}
                                            </p>
                                            <p><span style="color: gray;">Город: </span>{{ row['CityName'] }}</p>
                                            <p style="color: gray;">Объявление {{ int(row['IDSelling']) }}
                                                от {{ row['AdditionDate'] }}</p>
                                            {% if not row['Actuality'] %}
                                                <h3 style="margin-bottom: 5px;">Автомобиль снят с продажи</h3>
                                            {% endif %}
                                            {% if row['IDUser']==user_id %}
                                                {% if row['Actuality'] %}
                                                    <form>
                                                        <input type="hidden" name="idSelling"
                                                               value={{ int(round(row['IDSelling'])) }}>
                                                        <input style="width: 210px;" class="lil_button" type="submit"
                                                               name="remove" value="Удалить объявление">
                                                        <input style="width: 210px;" class="lil_button" type="submit"
                                                               name="edit_selling" value="Редактировать объявление">
                                                    </form>
                                                {% else %}
                                                    <form>
                                                        <input type="hidden" name="idSelling"
                                                               value={{ int(round(row['IDSelling'])) }}>
                                                        <input style="width: 210px;" class="lil_button" type="submit"
                                                               name="restore" value="Восстановить объявление">
                                                        <input style="width: 210px;" class="lil_button" type="submit"
                                                               name="edit_selling" value="Редактировать объявление">
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer>
        <div class="footer-left-all">
            <div class="footer-left" style="  margin-right: 36px;">
                <span class="phone-number">+7 (914) 798-29-55</span>
                <span class="name">Сазонтова Мария Дмитриевна</span>
            </div>
            <div class="footer-left">
                <span class="phone-number">+7 (914) 798-19-03</span>
                <span class="name">Дудко Денис Олегович</span>

            </div>
        </div>
        <div class="footer-right">
            <span class="copyright">&copy;2023 Типа дрома</span>
        </div>
    </footer>
</div>
</div>

</body>
</html>