<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/account.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>



    <title> Типа дрома - цены на автомобили </title>
</head>
<body>
<div class="menu">
    <ul>
        <li style="height: 50px; padding: 0; margin: 0;background-color: black;">
            <a href="{{ url_for("index") }}" style="padding: 0; margin: 0;">
                <img src="/static/images/logo.png" style="padding: 0; margin: 0; height: 48px;">
            </a>
        </li>

        {% if not user_id %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("login") }}>Авторизироваться</a>
            </li>
        {% else %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("logout") }}>Выйти</a>
            </li>
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("account") }}>Личный кабинет</a>
            </li>

        {% endif %}
        <li style="float: right;"><a href={{ url_for("new_selling") }}><b>&#10753;</b> Подать объявление</a></li>
    </ul>
</div>

<div class="wrapper">
<div class="content-container">
<form>
    <label for="login">Логин:</label>
    <input type="text" id="login" name="login" value={{ login }} readonly></br>
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" value="{{ fio }}" readonly></br>
    <label for="phone">Номер телефона:</label>
    <input type="text" id="phone" name="phone" value="{{ phone }}" readonly></br>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" value="{{ email }}" readonly></br>

   <label for="city">Город:</label>
    <select id="city" name="city" disabled>
        <option value="">Выберите город</option>
        {% for iter, row in iterrows(cities) %}
        <option value="{{ row['CityName'] }}" {% if row['CityName'] == town %} selected {% endif %} >
            {{ row['CityName'] }}
        </option>
        {% endfor %}
    </select>

    <button id="changedBtn" style="display: block;" type="button" onclick="edit()">Редактировать данные</button>
    <button type="submit" id="submitBtn" style="display: none;" name ='update_account_info' value="update">Сохранить изменения</button>
</form>

<script>
  function edit() {
   document.getElementById("login").readOnly = false;
   document.getElementById("name").readOnly = false;
   document.getElementById("phone").readOnly = false;
   document.getElementById("email").readOnly = false;
   document.getElementById("city").readOnly = false;

   document.getElementById("changedBtn").style.display = "none";
   document.getElementById("submitBtn").style.display = "block";

   document.getElementById("login").style.border = '1px double black';
   document.getElementById("name").style.border = '1px double black';
   document.getElementById("phone").style.border = '1px double black';
   document.getElementById("email").style.border = '1px double black';
   document.getElementById("city").style.border = '1px double black';
   document.getElementById("city").removeAttribute("disabled");
  }
 </script>

<h2>Сменить пароль</h2>
<form>
    <label for="old_password">Старый пароль:</label>
    <input type="password" id="old_password" name="old_password" required></br>
    <label for="new_password">Новый пароль:</label>
    <input type="password" id="new_password" name="new_password" required></br>
    <button id="update_pwd" style="display: block;" type="submit" name = 'update_pwd'>Сменить пароль</button>
</form>


<h2>Список избранных объявлений</h2>
<ul style="background-color: #eee; margin-left: 20px">
    <li>Объявление 1</li>
    <button>Удалить объявление</button>

    <li>Объявление 2</li>
    <button>Удалить объявление</button>
</ul>

<h2 >Опубликованные объявления</h2>
<ul style="background-color: #eee;margin-left: 20px">
    <li>Объявление 1</li>
    <button>Редактировать объявление</button>
    <button>Удалить объявление</button>

    <li>Объявление 2</li>
    <button>Редактировать объявление</button>
    <button>Удалить объявление</button>
</ul>
</div>

<footer>
    <div class="footer-left-all">
        <div class="footer-left" style="  margin-right: 36px;">
            <span class="phone-number">+7 (914) 798-29-55</span>
            <span class="name">Сазонтова Мария Дмитриевна</span>
        </div>
        <div  class="footer-left">
            <span class="phone-number">+7 (914) 798-19-03</span>
            <span class="name">Дудко Денис Олегович</span>

        </div>
    </div>
  <div class="footer-right">
    <span class="copyright">&copy;2023 Типа дрома</span>
  </div>
</footer>
</div>
</body>
</html>