<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
    <link rel="icon" href="/static/images/favicon.png">
    <title> Типа дрома - цены на автомобили </title>
</head>

<script type="text/javascript">
    // Формируем словарь моделей
    let modelNames = {};
    {% for iter, row in iterrows(brands) %}
        modelNames['{{ row['BrandName'] }}'] = '';
    {% endfor %}
    {% for iter, row in iterrows(models) %}
        modelNames['{{ row['BrandName'] }}'] += '{{ row['ModelName'] }},';
    {% endfor %}
    {% for iter, row in iterrows(brands) %}
        modelNames['{{ row['BrandName'] }}'] = modelNames['{{ row['BrandName'] }}'].slice(0, -1);
    {% endfor %}
    // ф-ция, возвращающая массив моделей по заданному бренду
    function getModelByBrand(selected) {
        let foundModels = modelNames[selected];
        return foundModels.split(","); // преобразуем строку в массив городов
    }

    // ф-ция, выводящая динамически список городов
    function MkModels(selected) {
        if (selected === "Любая марка") {
            let modelsList = document.forms["filter"].elements["model"];
            document.forms["filter"].elements["model"].disabled = true;
            modelsList.length = 0; // удаляем все элементы из списка моделей
            if (document.createElement) {
                let newModelListOption = document.createElement("OPTION");
                newModelListOption.text = "Модель";
                newModelListOption.value = "";
                // тут мы используем для добавления элемента либо метод IE, либо DOM
                (modelsList.options.add) ? modelsList.options.add(newModelListOption) : modelsList.add(newModelListOption, null);
            }
        } else {
            let currModels = getModelByBrand(selected);
            let currModelsCount = currModels.length;
            let modelsList = document.forms["filter"].elements["model"];
            let modelsListOptionsCnt = modelsList.options.length;
            modelsList.length = 0; // удаляем все элементы из списка моделей
            if (document.createElement) {
                let newModelListOption = document.createElement("OPTION");
                newModelListOption.text = "Любая модель";
                newModelListOption.value = "";
                // тут мы используем для добавления элемента либо метод IE, либо DOM
                (modelsList.options.add) ? modelsList.options.add(newModelListOption) : modelsList.add(newModelListOption, null);
            } else {
                // для NN3.x-4.x
                modelsList.options[i] = new Option(currModels[i], currModels[i], false, false);
            }
            for (let i = 0; i < currModelsCount; i++) {
                // далее мы добавляем необходимые модели в список
                if (document.createElement) {
                    let newModelListOption = document.createElement("OPTION");
                    newModelListOption.text = currModels[i];
                    newModelListOption.value = currModels[i];
                    if (newModelListOption.value === '{{ model }}') {
                        newModelListOption.selected = 'selected';
                    }
                    // тут мы используем для добавления элемента либо метод IE, либо DOM
                    (modelsList.options.add) ? modelsList.options.add(newModelListOption) : modelsList.add(newModelListOption, null);
                } else {
                    // для NN3.x-4.x
                    modelsList.options[i] = new Option(currModels[i], currModels[i], false, false);
                }
            }
            document.forms["filter"].elements["model"].disabled = false;
        }
    }

    // инициируем изменение элементов в списке моделей, в зависимости от текущего бренда
    window.onload = function () {
        MkModels(document.forms["filter"].elements["brand"].options[document.forms["filter"].elements["brand"].selectedIndex].text);
    };
    //-->
</script>

<body>

<div class="menu">
    <ul>
        <li style="height: 50px; padding: 0; margin: 0;background-color: black;">
            <a href="{{ url_for("index") }}" style="padding: 0; margin: 0;">
                <img src="/static/images/logo.png" style="padding: 0; margin: 0; height: 48px;">
            </a>
        </li>

        {#        Выпадающий список выбора города#}
        <select style="background-color: black; color: white; border: none; outline: none;
         cursor: pointer; height: 50px; font-size: 14.5px; margin-left: 5px;"
                onchange="sendRequest()" id="city" name="city">
            <option value="Все регионы">Все регионы</option>
            {% for iter, row in iterrows(cities) %}
                <option value="{{ row['CityName'] }}"
                        {% if row['CityName']==selected_city %}selected{% endif %}>
                    {{ row['CityName'] }}
                </option>
            {% endfor %}
        </select>

        <script>
            function sendRequest() {
                var selectedCity = document.getElementById("city").value;
                window.location.href = "http://127.0.0.1:5000/?city=" + selectedCity;
            }
        </script>


        {% if not user_id %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("login") }}>Авторизоваться</a>
            </li>
        {% else %}
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("logout") }}>Выйти</a>
            </li>
            <li style="float: right; background-color: black;">
                <a style="color: #cccccc;" href={{ url_for("account") }}>Личный кабинет</a>
            </li>

        {% endif %}
        <li style="float: right;"><a href={{ url_for("new_selling") }}><b>&#10753;</b> Подать объявление</a></li>
    </ul>
</div>
<div class='wrapper'>

    <div class="content-container" style="padding-bottom: 100px;">
        <h1>Поиск автомобилей</h1>
        <form class="filter" method="get" name="filter">
            <select name="brand" onchange="MkModels(this.options[this.selectedIndex].text);">
                <option selected disabled hidden>Марка</option>
                <option value="">Любая марка</option>
                {% for iter, row in iterrows(brands) %}
                    <option value="{{ row['BrandName'] }}"
                            {% if row['BrandName']==brand %}selected{% endif %}>
                        {{ row['BrandName'] }}
                    </option>
                {% endfor %}
            </select>

            <select name="model" disabled>
                <option selected disabled hidden>Модель</option>
            </select>


            <input type="number" placeholder="Цена от, ₽" min=0
                   class="from" name="minprice" value={{ min_price }}>
            <input type="number" placeholder="до" min=0
                   class="to" name="maxprice" value={{ max_price }}>

            <input type="number" placeholder="Год от" min=1940 max=2023
                   class="from" name="minyear" value={{ min_year }}>
            <input type="number" placeholder="до" min=1940 max=2023
                   class="to" name="maxyear" value={{ max_year }}>

            <select name="transmission">
                <option selected disabled hidden>КПП</option>
                <option value="">Любая КПП</option>
                {% for iter, row in iterrows(transmissions) %}
                    <option value={{ row['TransmissionType'] }}
                                    {% if row['TransmissionType']==transmission %}selected{% endif %}>
                        {{ row['TransmissionType'] }}
                    </option>
                {% endfor %}
            </select>

            <select name="drive">
                <option selected disabled hidden>Привод</option>
                <option value="">Любой привод</option>
                {% for iter, row in iterrows(drives) %}
                    <option value={{ row['DriveType'] }}
                                    {% if row['DriveType']==drive %}selected{% endif %}>
                        {{ row['DriveType'] }}
                    </option>
                {% endfor %}
            </select>

            <input type="number" placeholder="Мощность от" min=0 max=2000 step=1
                   class="from" name="minhp" value={{ min_hp }}>
            <input type="number" placeholder="до" min=0 max=2000 step=1
                   class="to" name="maxhp" value={{ max_hp }}>
            <input type="submit" value="Показать">
        </form>

        {#Вывод брендов симпатичным списком, бесполезная трата места((( #}
        {#    {% if not (brand or model or min_price or max_price#}
        {#            or min_year or max_price or transmission or drive) or#}
        {#            (model and not brand) %}#}
        {#        <form>#}
        {#            <ul class="ul_brands">#}
        {#                {% for iter, row in iterrows(brands) %}#}
        {#                    <li>#}
        {#                        <a><input type="submit" name="brand" class="brands"#}
        {#                                  value="{{ row['BrandName'] }}" style="all: unset;"></a>#}
        {#                    </li>#}
        {#                {% endfor %}#}
        {#            </ul>#}
        {#        </form>#}
        {#    {% endif %}#}

        {% if len(df_selling)!=0 %}
            <h2>Объявлений найдено: {{ int(len(df_selling)) }}</h2>
            <hr style="width: 1097px; margin-left: 0;">
            {% for iter, row in iterrows(df_selling) %}
                <div class="selling">
                    {# Таблица как контейнер, в ней еще 3 таблицы - код некрасивый, ну и ладно,
                поставленную задачу решает) #}
                    <table style="table-layout: fixed;">
                        <tr>
                            <td colspan=2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h2 style="margin-top: 0;{% if not row['Actuality'] %}text-decoration: line-through;{% endif %}">
                                                {% if user_id %}
                                                    {% if int(row['Like'])==0 %}
                                                        <form>
                                                            {{ row['BrandName'] + ' ' + row['ModelName'] + ', ' + str(int(row['ReleaseDate'])) }}
                                                            <input type="hidden" name="favourites"
                                                                   value={{ int(round(row['IDSelling'])) }}>
                                                            <input type="submit" style="color: darkgray ;"
                                                                   class="star" value="★">
                                                            <span style="float: right; margin-top: 0;">{{ str(int(row['Price'])) + ' ₽' }}</span>


                                                        </form>
                                                    {% else %}
                                                        <form>
                                                            {{ row['BrandName'] + ' ' + row['ModelName'] + ', ' + str(int(row['ReleaseDate'])) }}
                                                            <input type="hidden" name="favourites"
                                                                   value={{ int(round(row['IDSelling'])) }}>
                                                            <input type="submit" style="color: #db001a ;"
                                                                   class="star"
                                                                   value="★">
                                                            <span style="float: right; margin-top: 0;">{{ str(int(row['Price'])) + ' ₽' }}</span>

                                                        </form>
                                                    {% endif %}
                                                {% else %}
                                                    {{ row['BrandName'] + ' ' + row['ModelName'] + ', ' + str(int(row['ReleaseDate'])) }}
                                                    <span style="float: right; margin-top: 0;">{{ str(int(row['Price'])) + ' ₽' }}</span>

                                                {% endif %}
                                            </h2>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Двигатель</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['IDEngine'] + ', ' + row['FuelType'] + ', ' + str(row['Capacity']) + ' л' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Мощность</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ str(int(row['HP'])) + ' л.с.' }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Коробка передач</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['TransmissionType'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Привод</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['DriveType'] }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="color: gray;">VIN / Номер кузова:</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['BodyOrVinNumber'] }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="color: gray;">Гос. номер</p>
                                        </td>
                                        <td>
                                            <p style="margin-top: 0;">{{ row['StateNumber'] }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td rowspan=0
                                            style="vertical-align: top; width: 50%; padding-right: 0; padding-left: 50px;">
                                            <p style="margin-top: 0; text-align: left; white-space: pre-wrap;"><span
                                                    style="color: gray;">Дополнительно: </span>{{ row['Description'] }}
                                            </p>
                                            <p><span style="color: gray;">Город: </span>{{ row['CityName'] }}</p>
                                            <p style="color: gray;">Объявление {{ int(row['IDSelling']) }}
                                                от {{ row['AdditionDate'] }} 👁: {{ int(row['likes_count']) }} </p>
                                            {% if not row['Actuality'] %}
                                                <h3 style="margin-bottom: 5px;">Автомобиль снят с продажи</h3>
                                                <p>Контактные данные закрыты</p>
                                            {% elif not user_id %}
                                                <p style="color: gray; margin-top: 19px;">Контактный номер
                                                    недоступен для неавторизованных пользователей</p>
                                                <a href={{ url_for('login') }}>Авторизоваться</a>
                                            {% else %}
                                                <p style="margin-top: 19px;"><span
                                                        style="color: gray;">Контактный номер: </span>{{ row['PhoneNumber'] }}
                                                </p>
                                            {% endif %}
                                            {% if row['IDUser']==user_id %}
                                                {% if row['Actuality'] %}
                                                    <form>
                                                        <input type="hidden" name="remove" value={{ row['IDSelling'] }}>
                                                        <input class="lil_button" type="submit"
                                                               value="Удалить объявление">
                                                    </form>
                                                {% else %}
                                                    <form>
                                                        <input type="hidden" name="restore"
                                                               value={{ row['IDSelling'] }}>
                                                        <input class="lil_button" type="submit"
                                                               value="Восстановить объявление">
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <div class="selling" style="background-color: lightgoldenrodyellow; width: fit-content;">
                К сожалению, по заданным условиям не найдено ни одного объявления.<br>
                Попробуйте изменить условия поиска...
            </div>
        {% endif %}
    </div>
    <footer>
        <div class="footer-left-all">
            <div class="footer-left" style="  margin-right: 36px;">
                <span class="phone-number">+7 (914) 798-29-55</span>
                <span class="name">Сазонтова Мария Дмитриевна</span>
            </div>
            <div class="footer-left">
                <span class="phone-number">+7 (914) 798-19-03</span>
                <span class="name">Дудко Денис Олегович</span>

            </div>
        </div>
        <div class="footer-right">
            <span class="copyright">&copy;2023 Типа дрома</span>
        </div>
    </footer>
</div>
<script>


</script>

</body>
</html>